<ng-container>
  <nav class="navbar navbar-expand-lg toolbar">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <img src="assets/images/logo.png" width="200px" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse mt-xs-4" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item search-field">
            <form class="example-form">
              <input type="text"
                     placeholder="Search TACitivities"
                     [formControl]="control"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let subject of subjectName|async" [value]="subject">
                  {{subject}}
                </mat-option>
              </mat-autocomplete>
            </form>
            
          </li>
          <li class="nav-item">
            <mat-form-field>
              <mat-label>Subject</mat-label>
              <mat-select>
                <mat-option>
                  Select
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>
          <li class="nav-item">
            <mat-form-field>
              <mat-label>Language</mat-label>
              <mat-select [(ngModel)]="language" (ngModelChange)="filterList()">
                <mat-option value="V0">All</mat-option>
                <mat-option *ngFor="let v of langsArr" [value]="v">
                  {{v=='EN-V1'?'English':'Hindi'}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>