mat-card {
    border-left: 4px solid #fca032;
    padding: 8px;
    margin-bottom: 20px;
    mat-card-content {
        div {
            div {
                p {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 16px;
                    color: #A52670;
                    font-weight: 600;
                }
            }
        }
    }
}
